* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 20px;
  text-align: center;
  font-family: sans-serif;
}

canvas {
  border: 2px solid lightgrey;
  border-radius: 25px;
  position: relative;
}

ul {
  text-align: left;
}